@media only screen and (max-width: 1600px) {
    .inputs {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid #606060;
        box-sizing: border-box;
        border-radius: 100px;
        width: 70%;
        margin-left: 15.4%;
        margin-top: 32px;
    }
}
@media only screen and (max-width: 1024px){
    .wrapper{
        position: relative;
        padding: 0 51px 0;
    }
    .general_desc{
        font-size: 23px;
    }
    .input_text span {
        font-size: 40px;
    }
    .input_little_text p:last-child {
        width: 67.4%;
    }
    .inputs {
        width: 100%;
        margin-left: 0;

    }
    .foot_left {
        font-size: 14px;
    }
    .foot_center {
        font-size: 16px;
    }
    .foot_right p:first-child {
        font-size: 14px;
    }

    .input_mail input {
        width: 100%;
    }
    .input_name_phone input {
        width: 48.7%;
    }
    .foot_head_link a {
        margin-left: 3%;
    }
    .foot_head_link a:first-child {
        margin-left: 0;
    }
    .text_sec {
        margin-top: 100px;
    }
    header {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 16px 51px 0;
    }
    footer{
        padding: 32px 51px 0;
    }
}
@media only screen and (max-width: 992px) {
    .input_sec_btn button{
        width: 270px;
        height: 38px;
    }
    .input_sec_btn{
        margin-top: 30px;
    }
    .input_contact{
        margin-top: 30px;
    }
    .input_name_phone input {
        width: 47.7%;
    }
    .inputs:first-child {
        border-radius: 45px;
    }
    .input_name_phone input {
        width: 46.7%;
    }
    button {
        width: 384px;
        height: 74px;
    }
    .input_text span {
        font-size: 30px;
    }
    .down_btn_block {
        display: none;
    }
    .footer_foot{
        display: block;
        text-align: center;
    }
    .foot_right{
        display: block;
    }
    .foot_center{
        margin: 20px 0;
    }
}
@media only screen and (max-width: 680px){

    .text_block{
        width: 100%;
    }
    .general_desc{
        background: linear-gradient(90deg
        , #FFFFFF 0%, #FFFFFF 48.51%, #BFBFBF 92.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
    }
    .text_block_center{
        width: 100%;
        padding-left: 0;
        margin: 40px 0;
    }

    .inputs {
        border-radius: 45px;
    }
    button {
        width: 100%;
        height: 75px;
    }
    .logo_block a svg {
        height: 30px;
        width: 115.2px;
    }
    .header_social a svg {
        width: 25.5px;
        height: 25.5px;
    }
    footer{
        padding: 32px 14px 0;
    }
}
@media only screen and (max-width: 414px) {
    .wrapper{
        position: relative;
        padding: 0 14px 0;
    }
    .input_text span {
        font-size: 20px;
    }
    .input_little_text p:last-child {
        width: 90.4%;
    }
    .input_name_phone input {
        width: 46.7%;
    }
    .inputs {
        border-radius: 45px;
    }
    button {
        width: 100%;
        height: 90px;
    }
    a {
        font-size: 16px;
    }
    .foot_head_link a {
        margin-left: 8%;
    }
    .text_sec {
        margin-top: 90px;
    }
    .logo_block a svg {
        height: 30px;
        width: 115.2px;
    }
    .header_social a svg {
        width: 25.5px;
        height: 25.5px;
    }
    .header_social {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 29px;
    }
    header {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 14px 14px 0;
    }
}