*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat-Light";
}

body{
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    overflow-x: hidden;
}

*:focus{
    outline: none;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

main {
    padding-bottom: 90px;
}

button{
    width: 453px;
    height: 80px;
    background: linear-gradient(
            180deg
            , #919191 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(
            270deg
            , #E4E4E4 0%, #727272 100%);
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #181718;
    border: 1px solid #181718;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms;
}

button:hover{
    border: 1px solid white;
    background: transparent;
    transition: all 300ms;
    background: linear-gradient(90deg, #E2E2E2 0%, #7A7A7A 48.51%, #303030 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 300ms ease-out;
    text-decoration: none;
}

a:hover{
    color: #8D8D8D;
    transition: all 300ms ease-in;
}

a svg path{
    fill: white;
    transition: all 300ms ease-out;
}

a:hover svg path{
    transition: all 300ms ease-in;
    fill: #8D8D8D;
}

img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

video{
    width: 100%;
}

.general_desc{
    font-style: italic;
    font-weight: 300;
    font-size: 50px;
    background: linear-gradient(90deg, #E2E2E2 0%, #7A7A7A 48.51%, #303030 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.d_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.container{
    background-color: #181718;
}

.wrapper{
    position: relative;
    padding:0 100px 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 100px 0;
}

.header_social {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 43px;
}

.text_sec{
    margin-top: 281px;
    position: relative;
    margin-bottom: 152px;
}

.text_sec .d_flex{
    flex-direction: column;
    align-items: flex-start;
}
.text_block{
    width: 65%;
}

.text_block_center{
    text-align: right;
    width: 100%;
    padding-left: 60%;
}

.text_img{
    position: absolute;
    left: 0;
    top: 15%;
    background-image: url("../img/shutterstock_4181454041.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
}

.text_sec_block {
    position: relative;
    background: linear-gradient(180deg, #181718 0%, rgba(24, 23, 24, 0.1) 100%), linear-gradient(180deg, rgba(24, 23, 24, 0.9) 1.81%, rgba(24, 23, 24, 0) 33.89%), linear-gradient(360deg, #181718 0%, rgba(24, 23, 24, 0) 37.38%), linear-gradient(90deg, #181718 16.07%, rgba(24, 23, 24, 0.4) 44.13%, #181718 73.57%);
}


.input_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-transform: uppercase;
}

.input_text span{
    background: linear-gradient(
            90deg
            , #E2E2E2 0%, #7A7A7A 48.51%, #303030 92.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat-Bold";
}

.input_sec {
    margin-top: 160px;
}

.input_sec_btn button{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #181718;
}

.input_contact{
    margin-top: 81px;
}

.input_contact a:first-child {
    margin-right: 4.2%;
}

.all_inputs {
    margin-top: 100px;
    display: none;

}

.input_little_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 17px;
}

.input_little_text p:last-child {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 104%;
    width: 30.4%;
    color: #FFFFFF;
}

.input_text_contact , .all_inputs {
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #606060;
    box-sizing: border-box;
    border-radius: 100px;
    width: 49%;
    min-height: 100px;
    margin-left: 25.4%;
    margin-top: 32px;
}

.inputs p{
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    color: #3D3D3D;
    text-align: left;
}

.select {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
}

.select p {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;

}

.select p svg path:first-child {
    fill: #FFFFFF;
}

.inputs p svg path {
    fill: #3D3D3D;
}

.inputs p:last-child {
    width: 74.3%;
}

.input_text:last-child {
    margin-top: 68px;
}

.input_name_phone input {
    opacity: 0.5;
    border: 1px solid #BABABA;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 100px;
    width: 23.7%;
    height: 65px;
    padding: 0 20px 0 20px;
    color: #FFFFFF;
    font-size: 20px;
}

.input_name_phone input:last-child {
    margin-left: .3%;
}

.input_name_phone input:first-child {
    margin-right: .3%;
}

.input_mail input {
    opacity: 0.5;
    border: 1px solid #BABABA;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 100px;
    width: 49%;
    height: 65px;
    padding: 0 20px 0 20px;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 30px;
}

.input_name_mail_phone {
    margin-top: 60px;
}

.input_btn {
    margin-top: 45px;
}

.input_sec_btn {
    text-align: center;
    margin-top: 100px;
}

.input_text button a{
    color: black;
}

footer{
        position: relative;
        background-image: url("../img/shutterstock_326051252 2.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        left: 50%;
        right: 50%;
        margin-left: -50.5vw;
        margin-right: -50vw;
        width: 100vw;
        padding: 32px 100px 0;
}

footer:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            360deg
            , #181718 0%, rgba(24, 23, 24, 0) 37.38%), linear-gradient(
            90.15deg
            , #181718 5.81%, rgba(24, 23, 24, 0) 47.75%, #181718 91.74%);
    z-index: 1;
}

.footer_block{
    display: grid;
    grid-row-gap: 610px;
    z-index: 9;
    position: relative;
}

.footer_header{
    text-align: center;
}

.foot_head_link{
    margin: 27px auto;
}

.foot_head_link a{
    margin-right: 12px;
}

.foot_head_link a:last-child{
    margin-right: 0;
}

.footer_foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 20px;
}

.foot_right{
    display: flex;
    align-items: center;
}

.foot_right p{
    margin-right: 10px;
}

.down_btn p{
    border-bottom: 2px solid #FFFFFF;
    margin-right: 10px;
    width: 100%;
}

.video_block {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50.5vw;
    margin-right: -50vw;
    width: 100vw;
}
.video_block:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
            360deg
            , #181718 0%, rgba(24, 23, 24, 0) 37.38%), linear-gradient(
            90.15deg
            , #181718 5.81%, rgba(24, 23, 24, 0) 47.75%, #181718 91.74%);
}
.down_btn_block {
    display: none;
    position: absolute;
    z-index: 1;
    left: 11px;
    bottom: 109px;
    transform: rotate(-90deg);
}

.down_btn {
    display: flex;
    width: 120px;
    align-items: center;
}

.input_block  input{
    display: none;
}

label {
    cursor: pointer;
}

#first:checked ~ label[for="first"],
#second:checked ~ label[for="second"],
#third:checked ~ label[for="third"],
#four:checked ~ label[for="four"],
#five:checked ~ label[for="five"],
#six:checked ~ label[for="six"],
#seven:checked ~ label[for="seven"]{
    border:1px solid white;
    color: #fff;
}

#first:checked ~ label[for="first"] p,
#second:checked ~ label[for="second"] p,
#third:checked ~ label[for="third"] p,
#four:checked ~ label[for="four"] p,
#five:checked ~ label[for="five"] p,
#six:checked ~ label[for="six"] p,
#seven:checked ~ label[for="seven"] p{
    color: #fff;
}
